.just-another-hand-regular {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.lisu-bosa-regular {
  font-family: "Lisu Bosa", serif;
  font-weight: 400;
  font-style: normal;
}

.feast-bg {
  background-image: url("assets\pexels-nicole-michalou-5779170.jpg");
  height: 90vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title-card {
  background-color: white;
  border-radius: 25px;
  min-height: 50vh;
  width: 50vw;
  position: relative;
  top: 15vh;
  left: 10vh;
  padding: 25px;
  text-align: center;
  align-items: center;
}

.page-bg {
  background-color: rgb(240, 166, 140);
  min-width: 100vh;
  min-height: 100vh;
}

.note-card {
  background-color: white;
  border-radius: 2em;
  padding: 1em;
  margin: 1em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.div-centered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.small {
  flex-grow: 1;
}

.medium {
  flex-grow: 2;
}

.large {
  flex-grow: 3;
}

.typeButton-allergies {
  background-color: rgb(223, 223, 223);
}

.add-button {
  border-style: none;
}

.text-bubble {
  float: left;
  background-color: rgb(223, 223, 223);
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 16px;
}
